/* TP3
Mathieu Pronovost
PROM18118300
Code basé sur la solution du laboratoire 8 rédigée par Alexandar Dimitrov */

extends layout

block content

	#message(style='display:none')
		span
	#wrapper
		h2 Modification d'un dossier étudiant
		#ajoutUtil
			fieldset
				legend Données sur l'étudiant
				label id: 
				input#id(type='text', disabled, value=etudiant._id)
				br
				label Code Permanent: 
				input#codePermanent(type='text', placeholder='codePermanent', value=etudiant.codePermanent)
				br
				label Nom: 
				input#nom(type='text', placeholder='Nom', value=etudiant.nom)
				br
				label Prénom: 
				input#prenom(type='text', placeholder='prenom', value=etudiant.prenom)
				br

				label Sexe:
				- sexeUtil = etudiant.sexe
				input#sexe(type='radio', name='sexeGroupe', value='1', checked='1'==sexeUtil)
				| Homme
				input#sexe(type='radio', name='sexeGroupe', value='2', checked='2'==sexeUtil)
				| Femme
				br
				label Date de Naissance: 
				input#dateNaissance(type='text', placeholder='dateNaissance', value=etudiant.dateNaissance)
				br
				
	div
		p
			input#boutonSupprimer.suppUtil(type="button", value="Supprimer", data-util-mongoid=""+etudiant._id)

			br
			a(href="/") Liste d'étudiants
	block scripts
		script(src='/javascripts/etudiants.js')
		script(src='/javascripts/modifieretudiant.js')